body{
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    background: #171717;
    color: #fff;
}
.top_bar{
    display: flex;
}
h1{
    float: left;
    font-size: 36px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1); 
    margin-top: 0;
}
.logo{
width: 60px;
    height: 60px;
    float: left;
    margin-left: 20px;
    margin-right: 16px;
}
.dot{
    font-size: 44px;
    color:  #03e9f4;
}
button{
    font-family: 'Roboto', sans-serif;
}
.top_bar button{
    height: 40px;
    outline: none;
    border: 0;
    margin-right: 20px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    transition: background 0.4s;
    cursor: pointer;
}
.buttons{
    margin-left: auto;
}
.login{
    background: #2ecc71;
}
.login:hover{
    background: #1dbb60;
}
.rejestracja{
    background: #969eff;
}
.rejestracja:hover{
    background: #858dee;
}
a{
    color: #fff;
    text-decoration: none;
}
.span_login{
    font-size: 30px;
    display: block;
    margin-top: 8px;
    float: right;
}
.prof_pic{
    height: 50px;
    float: right;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
.cards {
    width: 95%;
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
     flex-flow: row wrap;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('../images/tlo.jpg');
}
.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('../images/poland.jpg');
}
.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('../images/ue.jpg');
}
.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url('../images/usa.jpg');
}
.card__like {
    width: 18px;
}
.card__time {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 25px;
    font-weight: 700;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 50px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #101010;
    width: 350px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    cursor: pointer;
    box-shadow: 3px 2px 29px 1px rgba(3, 233, 244, 1);
    margin-bottom: 60px;
}

.card__info {
z-index: 2;
  background-color: #101010;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 500;
  color: #868686;
    display: block;
    margin-top: 5px;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
}
.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}
.card:hover .card__info {
    background-color: transparent;
    position: relative;
}
.card:hover .card__info-hover {
    opacity: 1;
}
.h2_mapy{
    margin-left: 30px;
    font-size: 24px;
    margin-top: 60px;
}